commands:
    01_install_git:
        command: "yum install -y git"
    02_install_nodejs_npm_1:
        command: "curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.32.0/install.sh | bash"
    03_install_nodejs_npm_2:
        command: ". /home/ec2-user/.nvm/nvm.sh"
    04_install_nodejs_npm_3:
        command: "nvm install 10.14.1"
    05_install_jasmine:
        command: "npm install -g jasmine"


container_commands:
    01_run_my_tests:
        command: "npm test"
        ignoreErrors: false
