commands:
    01_install_git:
        command: "yum install -y git"
    02_install_nodejs_npm:
        command: "yum install -y nodejs npm"
    03_install_jasmine:
        command: "npm install -g jasmine"

container_commands:
    01_run_my_tests:
        command: "npm test"
        ignoreErrors: false
